@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sofia<br />
    Bulgaria<br />
</address>

<address>
    <strong>GitHub Source Code:</strong>   <a href="https://github.com/Team-Ressurrection/Asp.NetMVCApp">View here</a><br />
    <strong>Author:</strong> <a href="mailto:nestorov.alexander@gmail.com">nestorov.alexander@gmail.com</a>
</address>