@model SalaryCalculatorWeb.Models.HomeViewModels.InfoViewModel

<div class="row">
    <div class="col-xs-3 jumbotron" style="margin: 5px; padding: 2px">

        <span class="text-center"><em>Registered users:</em></span>
        <div></div>
        <span class="col-xs-3 text-center"><b> @Model.TotalRegisteredUsers</b></span>
    </div>
    <div class="col-xs-3 jumbotron" style="margin: 5px; padding: 2px">

        <span class="text-center"><em>Paychecks:</em></span>
        <div></div>
        <span class="col-xs-3 text-center"><b> @Model.TotalPaychecks</b></span>
    </div>
    <div class="col-xs-3 jumbotron" style="margin: 5px; padding: 2px">

        <span class="text-center"><em>Remuneration Bills: </em></span>
        <div></div>
        <span class="col-xs-3 text-center"><b>@Model.TotalRemunerationBills</b></span>
    </div>
    <div class="col-xs-3 jumbotron" style="margin: 5px; padding: 2px">

        <span class="text-center"><em>SelfEmployments: </em></span>
        <div></div>
        <span class="col-xs-3 text-center"><b>@Model.TotalSelfEmployments</b></span>
    </div>
</div>