@model SalaryCalculatorWeb.Models.HomeViewModels.InfoViewModel

<div class="row">
    <div class="col-xs-6 jumbotron" style="margin: 5px; padding: 2px">

        <span class="text-center"><em>Registered users:</em></span>
        <div></div>
        <span class="col-xs-6 text-center"><strong> @Model.TotalRegisteredUsers</strong></span>
    </div>
    <div class="col-xs-6 jumbotron" style="margin: 5px; padding: 2px">

        <span class="text-center"><em>Paychecks:</em></span>
        <div></div>
        <span class="col-xs-6 text-center"><strong> @Model.TotalPaychecks</strong></span>
    </div>
    <div class="col-xs-6 jumbotron" style="margin: 5px; padding: 2px">

        <span class="text-center"><em>Remuneration Bills: </em></span>
        <div></div>
        <span class="col-xs-6 text-center"><strong>@Model.TotalRemunerationBills</strong></span>
    </div>
    <div class="col-xs-6 jumbotron" style="margin: 5px; padding: 2px">

        <span class="text-center"><em>SelfEmployments: </em></span>
        <div></div>
        <span class="col-xs-6 text-center"><strong>@Model.TotalSelfEmployments</strong></span>
    </div>
</div>