@model SalaryCalculatorWeb.Models.HomeViewModels.InfoViewModel

<div class="row">
    <div class="col-xs-2 jumbotron" style="margin: 5px">

        <p class="text-left"><em>The info is updated every 60 seconds</em></p>
        <div></div>
        <p class="col-xs-2 text-left"><b>Registered users: @Model.TotalRegisteredUsers</b></p>
    </div>
    <div class="col-xs-2 jumbotron" style="margin: 5px">

        <p class="text-left"><em>The info is updated every 60 seconds</em></p>
        <div></div>
        <p class="col-xs-2 text-left"><b>Paychecks: @Model.TotalPaychecks</b></p>
    </div>
    <div class="col-xs-2 jumbotron" style="margin: 5px">

        <p class="text-left"><em>The info is updated every 60 seconds</em></p>
        <div></div>
        <p class="col-xs-2 text-left"><b>Remuneration Bills: @Model.TotalRemunerationBills</b></p>
    </div>
    <div class="col-xs-2 jumbotron" style="margin: 5px">

        <p class="text-left"><em>The info is updated every 60 seconds</em></p>
        <div></div>
        <p class="col-xs-2 text-left"><b>SelfEmployments: @Model.TotalSelfEmployments</b></p>
    </div>
</div>