@model SalaryCalculatorWeb.Models.HomeViewModels.InfoViewModel

<div class="row">
    <div class="accordionTitle js-accordionTrigger" style="margin: 5px; padding: 2px">

        <p class="text-center"><em>Registered users: @Model.TotalRegisteredUsers</em></p>
    </div>
    
    <div class="accordionTitle js-accordionTrigger" style="margin: 5px; padding: 2px">

        <p class="text-center"><em>Total Paychecks: @Model.TotalPaychecks</em></p>
    </div>

    <div class="accordionTitle js-accordionTrigger" style="margin: 5px; padding: 2px">

        <p class="text-center"><em>Total Remuneration Bills: @Model.TotalRemunerationBills</em></p>
    </div>

    <div class="accordionTitle js-accordionTrigger" style="margin: 5px; padding: 2px">

        <p class="text-center"><em>Total Self insurance documents: @Model.TotalSelfEmployments</em></p>
    </div>
</div>